/db/
.obsidian/
.vscode/
public
.git
.DS_Store
pwdf.txt
__pycache__/

# build output
dist/
# generated types
.astro/
#Obsidian files
Proj/
!Progress.md
# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
db/


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

#Don't take data with you exepct abs ref metadata
*.json

#dagger
/dagger.gen.go
/internal/dagger
/internal/querybuilder
/internal/telemetry
